.cover-input {
    height: 140px;
    border: 1px dashed #3F8AE0;
    border-radius: 10px;
    color: #3F8AE0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-input_error {
    border: 2px dashed #e64646;
    border-radius: 10px;
    background-color: #faebeb;
    color: #e64646 !important;
}

.cover-container {
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin: 0 12px;
}

.cover-container__cover {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cover-container__delete {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: 0
}